@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Muli');

.text1{
  font-family: 'Muli', sans-serif;
  font-size: 13px;
}
.container{
  display: flex;
  flex-direction: column;
  position: relative;
}
.text{
  font-family: 'Slabo 27px', sans-serif;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
img{
  height: 300px;
}
.inf{
  position: absolute;
  left: 95.5%;
  top: -3%;
  width: 20px;
  height: 20px;
}
.fulldescr{
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  text-align: justify;
}
.fulldescrtitle{
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}
button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

.btnclose {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: 208px;
  padding: 10px 19px;
  top: 0;
  font-size: 20px;
  font-family: "Open Sans", Helvetica;
  border-radius: 4px;
  border-bottom: 1px solid rgba( 221, 17, 17, 1 );
  background: rgba( 221, 17, 17, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.btnclose:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba( 15, 165, 60, 0.2 );
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

.btnclose:active {
  top: 0px;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.0 );
  background: rgba( 20, 224, 133, 1 );
}