@import url('https://fonts.googleapis.com/css?family=PT+Sans');
*{
  margin: 0;
  padding: 0;
}
.container{
  width: 300px;
  margin: 10px 0 0 10px;
  border: 1px solid #f0f0f0;
}
.card{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 10px 5px 5px;
  padding: 10px;
  border: 1px solid #f0f0f0;
}
.image{
  width: 90px;
  height: 140px;
}
.data{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.data>:nth-child(2){
  margin: 7px 0;
}
.text{
  font-family: 'PT Sans', sans-serif;
}
.text_1{
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  border-bottom: 2px solid black;
}
.btn{
  margin-top: 20px;
}